body {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.header {
    background: url('../images/pattern-bg-desktop.png') no-repeat center / cover;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.h1 {
    font-weight: 700;
    font-size: 24px;
    color: white;
    margin-top: 20px;
}

.search__bar {
    width: 450px;
    background-color: white;
    border-radius: 8px;
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.input {
    height: 50px;
    padding-block: 12px;
    margin-left: 12px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
}

.input::placeholder {
    color: hsl(0, 0%, 58%);
    font-size: 18px;
}

.button {
    background: black;
    width: 50px;
    height: 100%;
    margin-left: auto;
    margin-right: 0px;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: rgb(15, 15, 15);
    }
}

.output__container {
    width: 800px;
    margin-top: 180px;
    padding-block: 24px;
    border-radius: 12px;
    background-color: pink;
    display: flex;
    z-index: 1000;
    position: absolute;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 10px;
    padding-inline: 12px;
    border-right: 1px solid hsl(0, 0%, 58%);
}

.clear-border {
    border-right: 0px;
}

.info-header {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: hsl(0, 0%, 58%);
}

.info {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.map__container {
    background-color: hsl(0, 0%, 58%);
    height: 1000px;
}

@media (max-width: 820px) {
    .header {
        height: 340px;
        background: url('../images/pattern-bg-mobile.png') no-repeat center / cover;
    }

    .h1 {
        margin-top: 30px;
    }

    .search__bar {
        width: 350px;
        margin-top: 25px;
    }

    .input {
        font-size: 16px;
    }

    .input::placeholder {
        font-size: 16px;
    }

    .output__container {
        width: 350px;
        margin-top: 160px;
        padding-block: 24px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .info-block {
        border-right: 0px;
    }
}
